{% extends "base.html" %}

{% block content %}

    <h2>Профиль пользователя {{ user.username }}\</h2>

    <p>Имя: {{ user.first_name }}\</p>

    <p>Фамилия: {{ user.last_name }}\</p>

    <p>Email: {{ user.email }}\</p>

    {% if request.user == user %}

        <p><a href="{% url 'edit_profile' user.username%}">Редактировать профиль\</a>\</p>

        <p><a href="{% url 'password_change' %}">Сменить пароль\</a>\</p>

    {% endif %}

    <h3>Публикации:\</h3>

    {% for post in posts %}

        <div>

            <h4>{{ post.title }}\</h4>

            <p\>{{ post.text|truncatechars:100 }}\</p\>

        </div>

    {% empty %}

        <p>Публикаций пока нет.\</p>

    {% endfor %}


{% endblock %}

